@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Playfair Display', sans-serif;
$font-display: 'Over The Rainbow', sans-serif;

$color-primary-black: #333333;
$color-primary-white: #ffffff;
$color-primary-pink: #DB589F;
$color-secondary-pink: #FFDCDC;
$color-secondary-light-pink: #FFEEEE;
