.about {
    // layout
    overflow: hidden;
    &__row {
        // layout
        margin-top: 50px;

        &:last-child {
            @include respond-below(tablet) {
                // layout
                justify-content: space-between;
            }

            @include respond-below(bigMobile) {
                // layout
                margin-top: 0;
                flex-direction: column;
            }
        }
    }

    &__image {
        // layout
        width: 100%;
    }

    &__bg-title {
        // layout
        display: block;
        margin-bottom: -40px;

        // typo
        color: $color-secondary-light-pink;
        font-family: $font-display;
        font-size: 78px;
        line-height: 90px;

        @include respond-below(tablet) {
            // typo
            font-size: 44px;
        }

        @include respond-below(tablet) {
            // typo
            white-space: nowrap;
        }
    }

    &__title {
        // typo
        font-size: 32px;

        @include respond-below(bigMobile) {
            // typo
            line-height: normal;
        }

    }

    &__subtitle {
        // layout
        display: block;
        margin-bottom: 30px;

        // typo
        color: $color-primary-pink;
        font-size: 14px;
        font-family: $font-secondary;
    }

    &__paragraph {
        // layout
        padding-right: 25px;

        @include respond-below(bigMobile) {
            // layout
            margin: 30px 0;

            // typo
            font-size: 16px;
        }
    }
}