.features {
    // layout
    overflow: hidden;

    .container {
        @include respond-below(laptop) {
            // layout
            margin: 0;
        }
    }

    &__image-wrapper {
        // layout
        position: relative;
        min-height: 959px;

        @include respond-below(laptop) {
            // layout
            overflow: hidden;
        }
    }
    
    &__image {
        // layout
        width: 100%;
        position: absolute;
        object-fit: cover;

        // design
        opacity: 0;

        // animation
        transition: all .5s ease;

        @include respond-below(laptop) {
            // layout
            min-width: 450px;
        }

        &--is-show {
            // design
            opacity: 1;

            // animation
            transition: all .5s ease;
        }
    }

    &__outer-modal {
        // layout
        padding: 80px 0;
    }

    &__modal {
        // layout
        height: 100%;
        display: flex;
        position: relative;
        min-height: 740px;
        padding-left: 25px;
        flex-direction: column;

        // design
        background-color: $color-secondary-light-pink;

        @include respond-below(tablet) {
            // layout
            min-height: 900px;
            padding-left: 0;
        }
    }

    &__content {
        // layout
        padding: 195px 65px 183px 0;
        position: absolute;

        // design
        opacity: 0;

        // animation
        transition: all .5s ease;

        &--is-show {
            // design
            opacity: 1;

            // animation
            transition: all .5s ease;
        }

        &__image {
            // layout
            display: none;

            @include respond-below(tablet) {
                // layout
                width: 100%;
                height: 365px;
                display: block;
                object-fit: cover;
            }
        }

        @include respond-below(tablet) {
            // layout
            padding: 55px 30px 85px;
        }
    }

    &__bg-title {
        // layout
        display: block; 
        margin-bottom: -40px;
        
        // typo
        color: $color-primary-white;
        font-size: 78px;
        font-family: $font-display;
        line-height: 90px;

        @include respond-below(tablet) {
            // typo
            font-size: 32px;
        }
    }

    &__title {
        // layout
        margin-bottom: 35px;

        // typo
        white-space: nowrap;

        @include respond-below(tablet) {
            // typo
            font-size: 32px;
            line-height: normal;
        }
    }

    &__paragraph {
        @include respond-below(tablet) {
            // layout
            margin-top: 95px;
        }
    }

    &__control-wrapper {
        // layout
        bottom: 0;
        position: absolute;
        min-height: 65px;
        margin-bottom: 30px; 

        @include respond-below(tablet) {
            // layout
            z-index: 1;
            padding: 0 30px;
            position: unset;
            min-height: unset;
            margin-top: 605px;
            flex-direction: row;
        }

        @include respond-below(bigMobile) {
            // layout
            margin-top: 570px;
        }
    }

    &__control {
        // typo
        text-transform: uppercase;
        letter-spacing: 5px;

        // event
        cursor: pointer;
    }

    &__indicator {
        // layout
        display: block;
        margin-top: 25px;
        margin-left: 25px;

        // typo
        color: $color-primary-pink;
        font-size: 32px;
        font-family: $font-secondary;
    }

    &__seperator {
        // layout
        width: 60px;
        height: 1px;
        display: inline-block;
        margin-bottom: 4px;

        // design
        background-color: $color-primary-pink;
    }
}