.gallery {
    // layout
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond-below (bigMobile) {
        // layout
        margin: 0;
        min-height: 500px;
    }
    
    .container {
        // layout
        width: 100%;

        @include respond-below(laptop) {
            // layout
            width: unset;
        }
    }

    &__title {
        // layout
        margin-bottom: 40px;
    }

    &__slider {
        // layout
        display: flex;
    }

    &__slide {
        // layout
        display: flex;
        margin-right: 50px;

        @include respond-below(bigMobile) {
            // layout
            margin-right: 20px;
        }
    }

    &__image {
        // layout
        width: 550px;
        height: 550px;
        object-fit: cover;

        @include respond-below(bigMobile) {
            // layout
            width: 300px;
            height: 300px;
        }
    }

    &__index {
        // typo
        font-size: 32px;
        font-family: $font-secondary;
        line-height: 64px;
        writing-mode: tb-rl; 
    }
}

