.services {
    // layout
    min-height: auto;

    &__mobile {
        // layout
        display: none;

        @include respond-below(bigMobile) {
            // layout
            display: block;
        }
    }

    &__desktop {
        @include respond-below(bigMobile) {
            // layout
            display: none;
        }
    }
    
    &__aside {
        // layout
        position: relative;
    }

    &__aside-wrapper {
        // layout
        top: 25%;
        position: sticky;

        
        @include respond-below(laptop) {
            // layout
            margin: 0 16px 0 0;
        }

        @include respond-below(bigMobile) {
            // layout
            margin: 0;
            position: relative;
        }
    }

    &__content {
        // layout 
        margin: 50px 0;

        @include respond-below(bigMobile) {
            // layout
            margin: 20px 0;
        }
    }

    &__content-container {
        @include respond-below(bigMobile) {
            // layout
            position: relative;
            height: 0;
            overflow: hidden;

            .services__title {
                // layout
                display: none;
            }

            &--is-active {
                // layout
                height: auto;
            }
        }
    }

    &__display-selected {
        // layout
        display: none;

        // typo
        color: $color-primary-pink;
        text-transform: uppercase;
        letter-spacing: 5px;

        // event
        cursor: pointer;

        &::after {
            // layout
            width: 9px;
            height: 6px;
            content: '';
            display: inline-block;
            margin-left: 12px;

            // design
            background-image: url('/assets/icons/arrow-down.svg');
        }

        @include respond-below(bigMobile) {
            // layout
            display: inline-block;
        }
    }

    &__list {
        // layout
        margin-top: 50px;

        @include respond-below(bigMobile) {
            // layout
            width: 100%;
            margin: 0;
            z-index: 1;
            overflow: hidden;
            position: absolute;
            max-height: 0px;

            // design
            background-color: $color-primary-white;

            &--is-active {
                // layout
                max-height: 500px;

                            // animation
            transition: all .25s ease-in-out;
            }
        }
    }

    &__item {
        // layout
        display: block;
        margin-bottom: 40px;

        // typo
        font-size: 20px;
        letter-spacing: 5px;
        text-transform: uppercase;

        // event
        cursor: pointer;

        // animation
        transition: all .5s ease;

        @include respond-below(tablet) {
            // layout
            margin-bottom: 30px;

            // typo
            font-size: 16px;
        }

        @include respond-below(bigMobile) {
            // layout
            margin: 10px 0;
        }

        &::before {
            // layout
            width: 0;
            height: 1px;
            display: inline-block;
            content: ' ';

            vertical-align: middle;

            // design
            background-color: $color-primary-black;

            // animation
            transition: all .5s ease;
        }

        &--is-active {
            // typo
            color: $color-primary-pink;

            // animation
            transition: all .5s ease;

            @include respond-below(bigMobile) {
                // layout
                display: none;
            }

            &::before {
                // layout
                width: 32px;
                margin-right: 24px;

                // design
                background-color: $color-primary-pink;

                // animation
                transition: all .5s ease;
            }
        }
    }

    &__message {
        // layout
        display: block;
        max-width: 400px;

        // typo
        font-size: 12px;
        
        @include respond-below(tablet) {
            // layout
            max-width: 300px;
        }

        @include respond-below(bigMobile) {
            // layout
            display: none;
            max-width: unset;
        }
    }

    &__wrapper {
        @include respond-below(bigMobile) {
            // layout
            flex-direction: column;
        }
    }
}